*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 1200px ;
    margin: 10px auto;
    display: flex;
    align-items: center;
}
header .phone{
    display: flex;
    align-items: center;
}
header form {
    padding-left: 70px ;
    padding-right: 40px;
}
header form input {
    width: 450px;
    border: none;
}
header .search{
    border: 1px solid gray;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
}
header .phone .fa-volume-control-phone{
    font-size: 30px;
    color: gray
}
header .phone p{
    font-size: 15px;
    font-family: roboto;
    color: gray;
    padding-bottom: 5px;
    padding-left: 10px;
}
header .phone span{
    color: red;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}
header .cart{
   padding-left: 135px;
}
header .cart .fa-user-o{
    font-size: 20px;
    padding-right: 10px;
}
header .cart .fa-user-o{
    font-size: 20px;
    padding-right: 15px;
}
header .cart .fa-heart-o{
    font-size: 20px;
    padding-right: 15px;
}
header .cart .fa-shopping-cart{
    font-size: 20px;
    padding-right: 15px;
}

.menu{
    width: 100%;
    background-color: #E91B8E;
    height: 50px;
    display: flex;
    align-items: center;
}
.menu .fa-bars{
    padding-left: 170px;
}
nav ul{
    height: 50px;
    display: flex;
    justify-content: center;
} 
nav ul li:first-child{
    padding-right: 80px;
}
nav .child .fa-angle-right{
    padding-left: 230px;
}
nav ul .parent .fa-angle-down{
    padding-left: 10px ;
    font-size: 10px;
    font-weight: bold;
}
nav ul li{
    list-style: none;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}
nav ul li a{
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    color: white;
}
.menu .fa-bars{
    color: white;
    font-size: 20px;
}
.parent{
    position: relative;
}
.child{
    position: absolute;
    z-index: 999999;
    top: 50px;
    height: auto;
    width: 270px;
    display: block;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #EBEBEB ;
    box-shadow: 0 0 1px gray;
    text-align: left;
    color: black;
    font-family: roboto;
}
.parent:hover .child{
    opacity: 1;
    visibility: visible;
}
.child li {
    display: block;
    height: 50px;

}
.child li a{
    color: black;
}
.child li a:hover{
    color: white;
    font-family: roboto;
}
.child li:hover{
    background-color: red;
}

.container{
    width: 1200px;
    margin: 50px auto;
}
.content1{
    display: flex;
}
.content1 .text .left{
    display: flex;
    margin-top: 160px;
    padding-right: 30px;
}
.content1 .text .left h1{
    color: #E9381B;
    font-family: roboto;
    font-size: 25px;
}
.content1 .text p{
    color: #AAAAB2;
    font-family: roboto;
    font-size: 17px;
    line-height: 25px;
    padding-top: 10px;
}

.content1 .text .left .thumb1 img{
    width: 100%;
}
.content1 .text .left .thumb1{
    width: 5%;
    margin-right: 10px;
}

.content1 .shop img{
    width: 670px;
}
.content1 .shop {
    width: 50%;
    padding-left: 30px;
}

.content2 {
    display: flex;
    margin-top: 20px;
}
.content2 .text .thumb1 img{
    width: 100%;
}
.content2 .text .thumb1{
    width: 5%;
    margin-right: 10px;
}

.content2 .text{
    padding-top: 180px;
}
.content2 .text .right{
    display: flex;
}
.content2 .text .right p{
    color: #E9381B;
    font-family: roboto;
    font-size: 25px;
}
.content2 .text p{
    color: #AAAAB2;
    font-family: roboto;
    font-size: 17px;
    line-height: 25px;
    padding-top: 10px;
}
.contact .left{
    display: flex;
    margin-bottom: 15px;
}
.contact .thumb1 img{
    width: 100%;
}
.contact .left .thumb1 {
    width: 3%;
    margin-right: 15px;
}
.contact h1{
    color: #E9381B;
    font-family: roboto;
    font-size: 25px;
}
.content3 {
    display: flex;
    justify-content: space-between;
}
.content3 .address img{
    width: 100%;
}
.content3 .address {
    width: 52%;
}
.content3 form  .text1 {
    width: 550px;
    height: 40px;
    margin-top: 3px;
    padding-left: 10px;
}
.content3 form .information{
    display: flex;
    margin-top: 18px;
    width: 550px;
    justify-content: space-between;
    align-items: center;
}
.content3 form .information textarea{
    width: 350px;
    color: #757575;
    font-size: 14px;
    font-family: roboto;
    padding-left: 10px;
    padding-top: 10px;
}

.content3 form .information .btn-edit{
    width: 180px;
    height: 45px;
    color: white;
    background-color: #E91B8E;
    border: none;
}
.social_media{
    display: flex;
}
.social_media .image {
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 60px;
}  
.content4{
    display: flex;
}
.content4 p {
    font-size: 15px;
    font-family: roboto;
    color: #333333;
}
.content4 .p1{
    font-size: 18px;
    font-family: roboto;
    color:black;
    margin-bottom: 15px;
}
.content4 .p2{
    margin-top: 20px;
}
.content4 .anh{
    margin-top: 15px;
}
.content4 .dichvu_khachhang{
    width: 20%;
    margin-right: 20px;
}
.content4 .thong_tin{
    width: 15%;
    margin-right: 20px;
}
.content4 .fanpage{
    width: 15%;
    margin-right: 20px;
}
.content4 .fanpage  img{
    width: 90%;
}
.content4 .ve_chungtoi{
    width: 50%;
    margin-right: 20px;
}
.bottom{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.bottom img{
    width: 70%;
}
.bottom .footer{
    margin-left: 150px;
}
.bottom .text{
    margin-right: 90px;
    font-size: 15px;
    font-family: roboto;
    color: #333333;
}