*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo img{
    width: 30%;
}
.logo{
    margin-left: 10px;
    width: 20%;
}
h2{
    color: #FF0000;
    font-weight: bold;
    width: 40%;
}
.fa.fa-search{
    padding: 6px;
    background-color:#CCCCCC ;
    border: none;
}
.search{
    display: flex;
    width: 200px;
}
.search input{
    width: 100%;
    height: 30px;
    color: #E5E5E5;
    padding-left:10px;
    border:1px solid #E5E5E5;
}
.button input{
    color: white;
    padding: 9px;
    border-radius: 3px ;
    border: none;
    background-color: #165DC3;
}
header a{
    text-decoration:none;
    padding-right: 10px;
    font-family: roboto;
    color: #979E9C;
}
header a:hover{
    color: red;
   
}
header form{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
header{
    display: flex;
    margin: 5px auto;
    width: 1200px;
    align-items: center;
}
.container2{
    background-color:#ffffff;
}
.big{
    background-color: #F3F7FA;
}
.menu{
    background-color: #E7E5E5;
    display: flex;
    align-items: center;
    padding-left: 20%;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    height: 50px;
}
nav ul li {
    list-style: none;
    height: 50px;
    padding: 0 15px;
    align-items: center;
}
nav ul li a{
    color: black;
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}
nav ul li a:hover{
    color: red;
    background-color: #EEEEEE;
}
.parent .main-menu1{
    color: white;
    background-color: #DE0000;
    padding: 0 5px 0 10px;
}
 .main-menu1 .fa.fa-caret-down{
    color: white;
    padding-right: 10px;
 }

.fa.fa-caret-down{
    color: black ;
}
nav ul li :hover{
    border-bottom: none;
}
nav ul li:last-child a{
    border-right: none;
}
.parent{
    position: relative;
}
.child{
    position: absolute;
    z-index: 999999;
    top: 50px;
    height: auto;
    width: 300px;
    display: block;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #EBEBEB ;
    box-shadow: 0 0 3px gray;
    text-align: left;
}
.parent:hover .child{
    opacity: 1;
    visibility: visible;
}
.child li {
    display: block;
    height: 50px;
    padding: 0 !important;
}
.child li a{
    padding-left: 10px;
}

.container{
    margin: 0 auto;
    width: 1200px;
}
.header{
    display: flex;
    border: 1px solid white;
    background-color:#E7E5E5;
    height: 40px;
    margin: 20px;
    align-items: center;
}
.header .icon{
    padding: 0 10px 0 10px;
}
.header .fa.fa-chevron-right{
    font-size: 10px;
}
.header .dang-ki{
    color: red;
}
.header .dang-ki{
    padding-left: 5px;
}

.container2{
    display: flex;
    justify-content: center;
    
}
.content-left{
    width: 30%;
    height: auto;
    text-align: center;
}
.content-left  .phuong-thuc{
    font-size: 24px;
    font-weight: bold;
    font-family: roboto;
    
}
.content-left a{
    color: white;
    font-size: 16px;
    font-family: roboto;
    width: 100%;
    text-align: center;
    padding-top: 9px;
    text-decoration: none;
}
.content-left a:hover{
    color: red;
}

.content-left .contact{
    display: flex;
    border: solid white 1px;
    width: 220px;
    background-color: #5779B2;
    margin-top: 20px;
    margin-left: 20%;
}
.content-left .contact2{
    display: flex;
    border: solid white 1px;
    width: 220px;
    background-color:#DE0000 ;
    margin-top: 20px;
    margin-left: 20%;
}
.content-left .icon{
    color: white;
    border: 1px solid white;
    padding: 10px;
    width: 18%;
}
.content-middle{
    width: 7%;
    height: 200px;
    
}
.content-middle p{
    padding-top: 90px;
    padding-left: 0;
    
}
.content-right{
    width: 40%;
    margin-bottom: 20px;
    height: auto;
}
.content-right p{
    font-size: 24px;
    font-weight: bold;
    font-family: roboto;
    margin-bottom: 23px;
    text-align: center;
}
.content-right .information{
    margin-bottom: 20px;
}

.content-right form{
    background-color:#F3F3F3;
    padding: 30px 20px 0 20px;
}
.content-right .information input{
    width: 100%;
    height: 40px;
    padding-left: 40px;
}
.content-right .information {
    width: 450px;
    position: relative;
    
    align-items: center;
}
.content-right .information .fa{
    height: 40px;
    color: #DEDFDE;
    position: absolute;
    padding: 12px;
}
.content-right select{
    width: 450px;
    margin-bottom: 20px;
    height: 40px;
    color: #55555A;
}
.content-right .request{
    display: flex;
}
.content-right .request .btn-edit{
    border: 1px solid #DE0000;
    background-color: #DE0000;
    color: white;
    font-family: roboto;
    padding: 10px 25px 10px 25px;
    margin: 20px 10px 20px 0;
    border-radius: 5px ;
}

.doi-tac .under{
    margin-top: 20px;
    display: flex;
    background-color:#F3F7FA ;
}
.doi-tac h3{
    font-size: 24px;
    width:13%;
    padding-top: 30px;
    padding-left:15px ;
    color: #DE0000;
    font-family: roboto;
}
.doi-tac .partner{
    border: 1px solid black;
    margin: 20px 50px 20px 50px;
}
hr{
    color: #FFFFFF;
}
footer{
    background-color: #333333;
    color: #99998C;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}
.content-right  .error{
    font-size: 15px;
    text-align: left;
    font-weight: normal;
    padding-top: 10px;
}
.content-right .request p{
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 25px;
}
